<%- include("header") -%>
<h2>This is the about us page.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, recusandae. In at assumenda deserunt reprehenderit, impedit, libero aperiam et eaque sed architecto, quas quidem. Fuga eveniet temporibus at facere doloribus.</p>
<%- include("footer") -%>